{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions"
        ],
        "uglify": true,
        "loose": true,
        "useBuiltIns": true,
        "modules": false,
        "include": [
          "transform-class-properties",
          "transform-object-rest-spread"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}