{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions",
          "not ie < 11",
          "not ie_mob < 11"
        ],
        "uglify": false,
        "loose": true,
        "useBuiltIns": true,
        "modules": false,
        "include": [
          "transform-class-properties",
          "transform-object-rest-spread"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ]
}