@import "../scss/variables";
@import "./svg-variables";

.overlap-box {
  border: 1px solid $default_color;
  border-radius: $border_radius;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .overlap-svg {
    width: 50%;
	background-color: $light_bg_color;
	border-radius: $border_radius 0 0 $border_radius;
	line-height: 0;
	overflow: hidden;

    svg {
      max-height: 70px;
	  min-width: 100%;
	  border-radius: $border_radius 0 0 $border_radius;
	  transform: scale(1);
	  transition: all .3s ease-in-out;
	  
	  
	  &:hover {
		transform: scale(1.5);
	  }
	  
	  &.shoe:hover {
		transform: scale(2.0) translate(0, 14%);
	  }

      .mainLine {
        @include base();
        @include mainLine();
      }

      .subLine {
        @include base();
        @include subLine();
      }

      .baseFill {
        @include baseFill();
      }

      .overlayFill {
        @include overlayFill();
      }

      .noFill {
        fill: none;
      }
    }
  }

  .overlap-text, .overlap-verdict {
    background-color: $default_color;
    color: $bg_color;
    width: 50%;
    text-align: center;
    position: relative;
	min-height: 70px;

    div {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  .overlap-verdict {
    display: none;
  }
}