@import "../scss/variables";
@import "./svg-variables";

.overlap-box {
  border: 1px solid $default_color;
  border-radius: $border_radius;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .overlap-svg {
    width: 50%;
    background-color: $light_bg_color;
    border-radius: $border_radius 0 0 $border_radius;
    line-height: 0;
    overflow: hidden;

    svg {
      max-height: 70px;
      min-width: 100%;
      border-radius: $border_radius 0 0 $border_radius;
      transform: scale(1);
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.5);
      }

      &.shoe:hover {
        transform: scale(2) translate(0, 14%);
      }
      &.chest:hover {
        transform: scale(3) translate(26%, 3%);
      }
      &.underbust:hover {
        transform: scale(3) translate(26%, -7%);
      }
      &.frontHeight:hover {
        transform: scale(1.7) translate(25%, -15%);
      }
      &.sleeve:hover {
        transform: scale(1.5) translate(-2%, 10%);
      }
      &.shirtWaist:hover {
        transform: scale(2.5) translate(31%, -18%);
      }
      &.pantWaist:hover {
        transform: scale(2.5) translate(31%, 8%);
      }
      &.hips:hover {
        transform: scale(2.5) translate(33%, -14%);
      }
      &.outseam:hover {
        transform: scale(1.7) translate(-16%, 0%);
      }
      &.shoe:hover {
        transform: scale(2) translate(1%, 26%);
      }
      &.shirtHips:hover {
        transform: scale(2.5) translate(29%, 5%);
      }

      .mainLine {
        @include base();
        @include mainLine();
      }

      .subLine {
        @include base();
        @include subLine();
      }

      .measurementLine {
        @include base();
        @include measurementLine();
        transition: all 0.5s ease-in-out;
        opacity: 0;
        fill-opacity: 0;
      }

      &:hover .measurementLine {
        opacity: 1;
        fill-opacity: 1;
      }

      &.chest .arrowsInside {
        marker-start: url(#triangleInsideChest);
        marker-end: url(#triangleInsideChest);
      }
      &.chest .arrowsOutside {
        marker-start: url(#triangleOutsideChest);
        marker-end: url(#triangleOutsideChest);
      }

      &.underbust .arrowsInside {
        marker-start: url(#triangleInsideUnderbust);
        marker-end: url(#triangleInsideUnderbust);
      }
      &.underbust .arrowsOutside {
        marker-start: url(#triangleOutsideUnderbust);
        marker-end: url(#triangleOutsideUnderbust);
      }

      &.frontHeight .arrowsInside {
        marker-start: url(#triangleInsideFrontHeight);
        marker-end: url(#triangleInsideFrontHeight);
      }
      &.frontHeight .arrowsOutside {
        marker-start: url(#triangleOutsideFrontHeight);
        marker-end: url(#triangleOutsideFrontHeight);
      }

      &.sleeve .arrowsInside {
        marker-start: url(#triangleInsideSleeve);
        marker-end: url(#triangleInsideSleeve);
      }
      &.sleeve .arrowsOutside {
        marker-start: url(#triangleOutsideSleeve);
        marker-end: url(#triangleOutsideSleeve);
      }

      &.shirtWaist .arrowsInside {
        marker-start: url(#triangleInsideShirtWaist);
        marker-end: url(#triangleInsideShirtWaist);
      }
      &.shirtWaist .arrowsOutside {
        marker-start: url(#triangleOutsideShirtWaist);
        marker-end: url(#triangleOutsideShirtWaist);
      }

      &.pantWaist .arrowsInside {
        marker-start: url(#triangleInsidePantWaist);
        marker-end: url(#triangleInsidePantWaist);
      }
      &.pantWaist .arrowsOutside {
        marker-start: url(#triangleOutsidePantWaist);
        marker-end: url(#triangleOutsidePantWaist);
      }

      &.hips .arrowsInside {
        marker-start: url(#triangleInsideHips);
        marker-end: url(#triangleInsideHips);
      }
      &.hips .arrowsOutside {
        marker-start: url(#triangleOutsideHips);
        marker-end: url(#triangleOutsideHips);
      }

      &.outseam .arrowsInside {
        marker-start: url(#triangleInsideOutseam);
        marker-end: url(#triangleInsideOutseam);
      }
      &.outseam .arrowsOutside {
        marker-start: url(#triangleOutsideOutseam);
        marker-end: url(#triangleOutsideOutseam);
      }

      &.shoe .arrowsInside {
        marker-start: url(#triangleInsideShoe);
        marker-end: url(#triangleInsideShoe);
      }
      &.shoe .arrowsOutside {
        marker-start: url(#triangleOutsideShoe);
        marker-end: url(#triangleOutsideShoe);
      }

      &.shirtHips .arrowsInside {
        marker-start: url(#triangleInsideShirtHips);
        marker-end: url(#triangleInsideShirtHips);
      }
      &.shirtHips .arrowsOutside {
        marker-start: url(#triangleOutsideShirtHips);
        marker-end: url(#triangleOutsideShirtHips);
      }

      .baseFill {
        @include baseFill();
      }

      .otherBaseFill {
        @include otherBaseFill();
      }

      .overlayFill {
        @include overlayFill();
      }

      .noFill {
        fill: none;
      }

      .noStroke {
        stroke: none;
      }
    }
  }

  .overlap-text,
  .overlap-verdict {
    background-color: $default_color;
    color: $bg_color;
    width: 50%;
    text-align: center;
    position: relative;

    div {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  .overlap-verdict {
    display: none;
  }
}

.measurement-input.too_small + .overlap-box {
  .overlap-svg svg .measurementLine {
    fill: $too_small;
    stroke: $too_small;
  }
}

.measurement-input.slim + .overlap-box {
  .overlap-svg svg .measurementLine {
    fill: $slim;
    stroke: $slim;
  }
}

.measurement-input.regular + .overlap-box {
  .overlap-svg svg .measurementLine {
    fill: $regular;
    stroke: $regular;
  }
}

.measurement-input.loose + .overlap-box {
  .overlap-svg svg .measurementLine {
    fill: $loose;
    stroke: $loose;
  }
}

.measurement-input.too_big + .overlap-box {
  .overlap-svg svg .measurementLine {
    fill: $too_big;
    stroke: $too_big;
  }
}
