@import "../scss/variables";
@import "./svg-variables";

.overlap-box {
  border: 1px solid $default_color;
  border-radius: $border_radius;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .overlap-svg {
    width: 50%;
    background-color: $light_bg_color;
    border-radius: $border_radius 0 0 $border_radius;
    line-height: 0;
    overflow: hidden;

    svg {
      max-height: 70px;
      min-width: 100%;
      border-radius: $border_radius 0 0 $border_radius;
      transform: scale(1);
      transition: all .5s ease-in-out;

      &:hover {
        transform: scale(1.5);
      }

      &.shoe:hover { transform: scale(2.0) translate(0, 14%); }
      &.chest:hover { transform: scale(3.0) translate(26%, 3%); }
      &.frontHeight:hover { transform: scale(1.7) translate(25%, -15%); }
      &.sleeve:hover { transform: scale(1.5) translate(-2%, 10%); }
      &.pantWaist:hover { transform: scale(2.5) translate(31%, 8%); }
      &.hips:hover { transform: scale(2.5) translate(33%, -14%); }
      &.outseam:hover { transform: scale(1.7) translate(-16%, 0%); }
      &.shoe:hover { transform: scale(2) translate(1%, 26%); }

      .mainLine {
        @include base();
        @include mainLine();
      }

      .subLine {
        @include base();
        @include subLine();
      }

      .measurementLine {
        @include base();
        @include measurementLine();
        transition: all .5s ease-in-out;
        opacity: 0;
        fill-opacity: 0;
      }

      &:hover .measurementLine {
        opacity: 1;
        fill-opacity: 1;
      }

      &.chest .measurementLine { fill: #333333; stroke: #333333; }
      &.frontHeight .measurementLine { fill: #dc9ddd; stroke: #dc9ddd; }

      &.chest .arrowsInside { marker-start: url(#triangleInsideChest); marker-end: url(#triangleInsideChest); }
      &.chest .arrowsOutside { marker-start: url(#triangleOutsideChest); marker-end: url(#triangleOutsideChest); }

      &.frontHeight .arrowsInside { marker-start: url(#triangleInsideFrontHeight); marker-end: url(#triangleInsideFrontHeight); }
      &.frontHeight .arrowsOutside { marker-start: url(#triangleOutsideFrontHeight); marker-end: url(#triangleOutsideFrontHeight); }

      &.sleeve .arrowsInside { marker-start: url(#triangleInsideSleeve); marker-end: url(#triangleInsideSleeve); }
      &.sleeve .arrowsOutside { marker-start: url(#triangleOutsideSleeve); marker-end: url(#triangleOutsideSleeve); }

      &.pantWaist .arrowsInside { marker-start: url(#triangleInsidePantWaist); marker-end: url(#triangleInsidePantWaist); }
      &.pantWaist .arrowsOutside { marker-start: url(#triangleOutsidePantWaist); marker-end: url(#triangleOutsidePantWaist); }

      &.hips .arrowsInside { marker-start: url(#triangleInsideHips); marker-end: url(#triangleInsideHips); }
      &.hips .arrowsOutside { marker-start: url(#triangleOutsideHips); marker-end: url(#triangleOutsideHips); }

      &.outseam .arrowsInside { marker-start: url(#triangleInsideOutseam); marker-end: url(#triangleInsideOutseam); }
      &.outseam .arrowsOutside { marker-start: url(#triangleOutsideOutseam); marker-end: url(#triangleOutsideOutseam); }

      &.shoe .arrowsInside { marker-start: url(#triangleInsideShoe); marker-end: url(#triangleInsideShoe); }
      &.shoe .arrowsOutside { marker-start: url(#triangleOutsideShoe); marker-end: url(#triangleOutsideShoe); }

      .baseFill {
        @include baseFill();
      }

      .otherBaseFill {
        @include otherBaseFill();
      }

      .overlayFill {
        @include overlayFill();
      }

      .noFill {
        fill: none;
      }

      .noStroke {
        stroke: none;
      }
    }
  }

  .overlap-text, .overlap-verdict {
    background-color: $default_color;
    color: $bg_color;
    width: 50%;
    text-align: center;
    position: relative;

    div {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  .overlap-verdict {
    display: none;
  }
}