.size-guide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
}

.size-guide-modal {
  $bar-background-color: rgb(241, 241, 241);
  $bar-border: 1px solid rgb(229, 229, 229);

  position: absolute;
  top: 40px;
  left: 50%;
  right: auto;
  bottom: 40px;
  transform: translate(-50%, 0);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 0 0 31px;
  width: 100%;
  max-width: 942px;

  .size-guide-titlebar {
    background-color: $bar-background-color;
    border-bottom: $bar-border;
    color: rgb(170, 170, 170);
    font-size: 12px;
    height: 18px;
    padding: 7px 12px 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    span.size-guide-title {
      float: left;
      margin: 0.1em 16px 0.1em 0;

      .item-name {
        color: #000;
      }
    }

    .size-guide-close {
      color: #aaa;
      text-decoration: none;
      float: right;
      cursor: pointer;

      &:hover {
        color: #000;
      }

      span.fa {
        font-size: 18px;
      }
    }
  }

  .size-guide-footer {
    height: 30px;
    background-color: $bar-background-color;
    border-top: $bar-border;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .size-guide-content-container {
    height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;

    .size-guide-content {
      height: 500px;
    }
  }
}