@import "../scss/variables";

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

a.link-btn.size-guide {
  margin: 10px 0;
  padding: 5px 8px;
  border: 1px solid $default_color;
  font-weight: bold;
  border-radius: $border_radius;
  background-color: $light_bg_color;
  width: 50%;
  color: $default_color;
  display: inline-block;

  .fa-solid {
    display: inline-block;
    float: right;
    line-height: 24px;
    color: $default_color;
  }
}

.fit-tooltip {
  max-width: 300px !important;
  @include default_tooltip();

  .front_height {
    float: right;
    position: relative;
    width: 165px;
    height: 108px;
    margin: 0 0 10px 10px;
    padding: 0;
    background: url(../images/sizeme_front_height_arrowed.png) no-repeat right top;

    .meas {
      position: relative;
      color: black;
      font-size: 12px;
      width: 50px;
      text-align: right;
    }

    .front_height-overlap {
      position: relative;
      top: -18px;
      background: url(../images/sizeme_front_height_overlap_arrowed.png) no-repeat right bottom;
    }
  }

  .front_height.negative-overlap {
    background-image: url(../images/sizeme_front_height_no_arrow.png);

    .front_height-overlap {
      background-image: url(../images/sizeme_front_height_overlap_no_arrow.png);
    }
  }

  .pinched {
    float: right;
    position: relative;
    width: 108px;
    height: 114px;
    padding: 0;
    background: url(../images/sizeme_pinched.png) no-repeat 0 -25px;

    .meas {
      text-align: right;
      width: 70px;
    }
  }
}

.size-guide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: $base_z_index;
}

.size-guide-modal {
  $bar-background-color: rgb(241, 241, 241);
  $bar-border: 1px solid rgb(229, 229, 229);

  position: absolute;
  top: 40px;
  left: 50%;
  right: auto;
  bottom: 40px;
  transform: translate(-50%, 0);
  border: 1px solid #333;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0;
  outline: none;
  width: 100%;
  max-width: 942px;
  max-height: 560px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .modal-header {
      background-color: $bar-background-color;
      border-bottom: $bar-border;
      color: rgb(102, 102, 102);
      font-size: 12px;
      line-height: 12px;
      height: 30px;
      width: 100%;
      padding: 7px 12px 5px;
      box-sizing: border-box;
      text-transform: uppercase;

      span.size-guide-title {
        float: left;
        margin: 0.1em 16px 0.1em 0;

        .item-name {
          color: #000;
        }
      }

      .size-guide-close {
        color: #666;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        right: 15px;

        &:hover {
          color: #000;
        }

        .fa-solid {
          font-size: 18px;
        }
      }
    }

    .modal-body {
      flex: 1;
      overflow: auto;
    }

    .modal-footer {
      height: 40px;
      background-color: white;
      border-top: 0;
      width: 100%;
      box-sizing: border-box;
      padding-right: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .sizeme-advertisement {
        color: #999;
        font-size: 12px;
        line-height: 22px;
        display: inline-block;
        position: relative;
        top: -1px;
        left: 5px;
        background: url(../images/sizeme_logo_plain_h22.png) no-repeat 0 0;
        width: 110px;
        height: 22px;
        vertical-align: top;
      }
    }
  }
}

.size-guide-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .measurement-head {
    .num {
      background-color: #000;
      color: #fff;
      font-weight: normal !important;
      border-radius: 50%;
      padding: 0;
      width: 14px;
      height: 14px;
      font-size: 12px;
      display: block;
      margin: 0 auto 3px;
      line-height: 1.2em;
    }

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  }

  .size-guide-item {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 40%;
    height: calc(100% - 60px);

    canvas {
      max-width: 100%;
    }
  }

  .size-guide-data {
    flex: 1 1 auto;
    width: 60%;
    box-sizing: border-box;
    text-align: left;
    padding-right: 10px;
    min-width: 400px;

    .size-guide-details-section {
      margin-top: 10px;
      padding-bottom: 5px;

      .size-guide-header-container {

        .size-guide-header-title {

          .header-h2 {
            display: flex;
            justify-content: space-between;

            .header-right {
              text-align: right;
            }

            .unit-selector {
              cursor: pointer;
              text-transform: none;
              padding: 1px 6px;
              background-color: $light_bg_color;
              &:hover {
                background-color: $lighter_bg_color;
              }
            }

          }
        }

        h2 {
          text-transform: uppercase;
          background-color: #ccc;
          padding: 3px 6px;
          margin: 0 auto 15px auto;
          font-size: 12px;
          justify-content: space-between;
          justify-items: stretch;
        }
      }
    }
  }

  .size-guide-product-info {
    display: flex;
    flex-direction: column;

    .size-guide-details-section {
      flex: 1;

      .product-info-table {
        border-collapse: separate;
        border-spacing: 3px;
        width: 100%;

        td,
        th {
          color: black;
          padding: 3px;
          text-align: center;
          font-size: 10px;
          white-space: nowrap;
        }

        thead {
          th.size-col {
            vertical-align: bottom;
          }
        }

        tbody {
          td {
            color: black;
            padding: 3px;
            text-align: center;
            font-size: 0.8em;
            background-color: #f1f1f1;
          }

          td.size-col {
            font-weight: bold;
            text-transform: uppercase;
            background-color: #ccc;
          }
        }
      }

      .sizeme-explanation {
        margin-top: 10px;
      }
    }

    .size-guide-splash {
      padding: 10px;
      border-radius: $border_radius;
      text-align: center;
      background-color: #eee;
      width: calc(100% - 10px);
      margin-bottom: 0;

      p {
        margin: 0px 5px 10px 5px;
        font-size: 12px;
      }

      .splash-choices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px;

        a.link-btn {
          flex: 1;
          max-width: 140px;
          padding: 5px 8px;
        }

        a.sign-up {
          background-color: #7dcc5d;
          border: 1px solid #76dc4c;
          color: #fff !important;
        }

        a.log-in {
          background-color: #cfcfcf;
        }

        a.no-thanks {
          background-color: #333333;
          border: 1px solid #888888;
          color: #ccc !important;
          padding: 3px 8px;
        }
      }
    }
  }

  .size-guide-details {
    .profile-select {
      min-width: 50%;
      max-width: 90%;
    }

    .fit-table {
      display: flex;
      flex-direction: row;

      .fit-wrapper {
        flex: 1;
      }

      .detailed-fit {
        text-align: center;
        font-size: 10px;

        .overlap,
        .fit-label,
        .measurement-head {
          border: 1.5px solid #fff;
          white-space: nowrap;
        }

        .overlap {
          color: black;
          background-color: $light_bg_color;
          padding: 3px;
        }

        .fit-label {
          color: white;
          padding: 5px;
        }

        .fit-label.too_small {
          background-color: $too_small;
        }
        .fit-label.slim {
          background-color: $slim;
        }
        .fit-label.regular {
          background-color: $regular;
        }
        .fit-label.loose {
          background-color: $loose;
        }
        .fit-label.too_big {
          background-color: $too_big;
        }
      }
    }
  }
}
