/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

a.link-btn.size-guide {
  margin: 0 0 0 0;
  padding: 5px 8px;
  @include background-image(linear-gradient(to bottom, #ffffff 0%, #dddddd 100%));
  border: 1px solid #666;
  font-weight: bold;
  @include border-radius(4px);
  background-color: #fff;
  width: 50%;
  color: #666;
  display: inline-block;

  span.fa {
    display: inline-block;
    float: right;
    line-height: 18px;
    color: #666;
  }
}

.size-guide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
}

.size-guide-modal {
  $bar-background-color: rgb(241, 241, 241);
  $bar-border: 1px solid rgb(229, 229, 229);

  position: absolute;
  top: 40px;
  left: 50%;
  right: auto;
  bottom: 40px;
  transform: translate(-50%, 0);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 942px;
  max-height: 560px;

  .modal-wrapper {
    @include display-flex;
    @include flex-direction(column);
    min-height: 100%;

    .modal-header {
      background-color: $bar-background-color;
      border-bottom: $bar-border;
      color: rgb(170, 170, 170);
      font-size: 12px;
      height: 30px;
      width: 100%;
      padding: 7px 12px 5px;
      box-sizing: border-box;
      text-transform: uppercase;

      span.size-guide-title {
        float: left;
        margin: 0.1em 16px 0.1em 0;

        .item-name {
          color: #000;
        }
      }

      .size-guide-close {
        color: #aaa;
        text-decoration: none;
        float: right;
        cursor: pointer;

        &:hover {
          color: #000;
        }

        span.fa {
          font-size: 18px;
        }
      }
    }

    .modal-body {
      @include flex(1);
      overflow: scroll;
    }

    .modal-footer {
      height: 30px;
      background-color: $bar-background-color;
      border-top: $bar-border;
      width: 100%;
      box-sizing: border-box;
      padding-right: 30px;
      @include display-flex;
      @include justify-content(flex-end);
      @include align-items(center);

      .sizeme-advertisement {
        color: #999;
        font-size: 12px;
        line-height: 22px;

        a {
          display: inline-block;
          cursor: pointer;
          position: relative;
          top: -1px;
          left: 5px;
          background-image: url(../images/sizeme_logo_plain_h22.png);
          background-position: 0px 0px;
          background-repeat: no-repeat;
          width: 77px;
          height: 22px;
          vertical-align: top;
        }
      }
    }
  }
}

.size-guide-content {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  width: 100%;

  .measurement-head {
    .num {
      background-color: #000;
      color: #fff;
      font-weight: normal !important;
      @include border-radius(50%);
      padding: 0;
      width: 14px;
      height: 14px;
      font-size: 12px;
      display: block;
      margin: 0 auto 3px;
      line-height: 1.2em;
    }

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  }

  .size-guide-item {
    @include flex(1 1 auto);
    box-sizing: border-box;
    width: 40%;
    height: calc(100% - 60px);

    canvas {
      max-width: 100%;
    }
  }

  .size-guide-data {
    @include flex(1 1 auto);
    width: 60%;
    box-sizing: border-box;
    text-align: left;
    padding-right: 10px;
    min-width: 400px;

    .size-guide-details-section {
      margin-top: 10px;
      padding-bottom: 5px;

      h2 {
        text-transform: uppercase;
        background-color: #ccc;
        padding: 3px 6px;
        margin-bottom: 15px;
        font-size: 12px;
      }
    }
  }

  .size-guide-product-info {
    @include display-flex;
    @include flex-direction(column);

    .size-guide-details-section {
      @include flex(1);
      
      .product-info-table {
        border-collapse: separate;
        border-spacing: 3px;
        width: 100%;

        td, th {
          color: black;
          padding: 3px;
          text-align: center;
          font-size: 0.8em;
          white-space: nowrap;
        }

        thead {
          th.size-col {
            vertical-align: bottom;
          }
        }

        tbody {
          td {
            color: black;
            padding: 3px;
            text-align: center;
            font-size: 0.8em;
            background-color: #f1f1f1;
          }

          td.size-col {
            font-weight: bold;
            text-transform: uppercase;
            background-color: #ccc;
          }
        }
      }

      .sizeme-explanation {
        margin-top: 10px;
      }
    }

    .size-guide-splash {
      padding: 5px 0;
      @include border-radius(5px);
      text-align: center;
      background: #eee url(../images/sizeme_logo_plain_h32.png) no-repeat 20px 10px;
      width: 100%;
      margin-bottom: 10px;

      p {
        margin: 1px 10px 10px 150px;
      }

      .splash-choices {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        margin: 0 10px;

        a.link-btn {
          @include flex(1);
          max-width: 140px;
          padding: 5px 8px;
        }

        a.sign-up {
          background-image: linear-gradient(to bottom left, #7DCC5D 0%, #48952A 100%);
          border: 1px solid #76DC4C;
          color: #fff!important;
        }

        a.log-in {
          background-image: linear-gradient(to bottom left, #FFFFFF 0%, #CFCFCF 100%);
        }

        a.no-thanks {
          background-image: linear-gradient(to bottom left, #888888 0%, #333333 100%);
          border: 1px solid #888888;
          color: #ccc!important;
          padding: 3px 8px;
        }
      }
    }
  }

  .size-guide-details {
    .profile-select {
      min-width: 50%;
      max-width: 90%;
    }

    .fit-table {
      @include display-flex;
      @include flex-direction(row);

      .fit-wrapper {
        @include flex(1);
      }

      .detailed-fit {
        text-align: center;
        font-size: 90%;

        .overlap, .fit-label, .measurement-head {
          border: 1.5px solid #fff;
          white-space: nowrap;
        }

        .overlap {
          color: black;
          background-color: #f1f1f1;
          padding: 3px;
        }

        .fit-label {
          color: white;
          padding: 5px;
        }

        .fit-label.too_small { background-color: $too_small; }
        .fit-label.slim      { background-color: $slim; }
        .fit-label.regular   { background-color: $regular; }
        .fit-label.loose     { background-color: $loose; }
        .fit-label.too_big   { background-color: $too_big; }
      }
    }
  }
}