@import "./scss/variables";

a.link-btn {
  background-color: white;
  color: #000!important;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 5px;
  min-width: 70px;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.sizeme-content {

  .sizeme-slider-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .sizeme_slider {
      flex: 1;
    }
  }

  .sizeme-context-menu {
    background-color: white;
    border: 2px solid $default_blue;
    border-bottom-width: 24px;
    padding: 0;
    position: relative;
    min-width: 160px;
    border-radius: 4px;
    z-index: 5;

    &:after {
      content: "";
      width: 78px;
      height: 22px;
      position: absolute;
      bottom: -23px;
      left: 0;
      background: url(./images/sizeme_logo_plain_h22.png) no-repeat left bottom;
    }

    .menu-profile-select {
      max-width: 160px;
      padding: 0 5px 5px;

      .profile-select {
        max-width: 150px;
      }
    }

    .react-contextmenu-item {
      padding: 3px 10px;
      font-weight: 400;
      line-height: 1.5;
      color: #373a3c;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
      cursor: pointer;
    }

    .react-contextmenu-item.react-contextmenu-item--active,
    .react-contextmenu-item:hover {
      /*color: #fff;
      background-color: $default_blue;
      border-color: $default_blue;*/
      font-style: italic;
      text-decoration: none;
    }
  }
}