$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

//noinspection CssNoGenericFontName
.sizeme-toggler a i::after {
  font-family: "FontAwesome";
  padding-left: 0.5em;
  vertical-align: middle;
}

.sizeme-toggler.sm-hidden a i::after {
  content: "\f063";
}

.sizeme-toggler.sm-visible a i::after {
  content: "\f062";
}