$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

a.link-btn {
  background-color: white;
  color: #000!important;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 5px;
  min-width: 70px;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

$too_small: #b55;
$slim: #45a14c;
$regular: #5fc153;
$loose: #8cd98e;
$too_big: #b55;

$default_blue: #34a6c6;

@import "../section/section";
@import "../sizeguide/sizeguide";
@import "../common/sizeform";
@import "../common/sizeslider";
@import "../common/loginframe";

.sizeme-content {

  .sizeme-slider-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .sizeme_slider {
      flex: 1;
    }

    span.fa {
      margin-left: 5px;
      font-size: 130%;
      cursor: pointer;

      &:hover {
        color: $default_blue;
      }
    }
  }

  .sizeme-context-menu {
    background-color: white;
    border: 2px solid $default_blue;
    border-bottom-width: 24px;
    padding: 0;
    position: relative;
    min-width: 160px;
    border-radius: 4px;

    &:after {
      content: "";
      width: 78px;
      height: 22px;
      position: absolute;
      bottom: -23px;
      left: 0;
      background: url(../images/sizeme_logo_plain_h22.png) no-repeat left bottom;
    }

    .menu-profile-select {
      max-width: 160px;
      padding: 0 5px 5px;

      .profile-select {
        max-width: 150px;
      }
    }

    .react-contextmenu-item {
      padding: 3px 10px;
      font-weight: 400;
      line-height: 1.5;
      color: #373a3c;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
      cursor: pointer;
    }

    .react-contextmenu-item.react-contextmenu-item--active,
    .react-contextmenu-item:hover {
      /*color: #fff;
      background-color: $default_blue;
      border-color: $default_blue;*/
      font-style: italic;
      text-decoration: none;
    }
  }

}