@import "../scss/variables";

.login-frame-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: $base_z_index + 1;
}

.login-frame-modal {
  position: absolute;
  top: 20%;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  border: none;
  background: transparent;
  -webkit-overflow-scrolling: touch;
}
