@import "../scss/variables";

/* Measurement inputs */
.measurement-input-table {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;

  .measurement-cell {
    flex: 1;
    padding: 0 3px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .label {
      font-size: 90%;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      position: relative;
    }

    .measurement-input {
      border: 1px solid $default_color;
      border-radius: $border_radius;
      background-color: $bg_color;
      position: relative;

      input {
        display: block;
        border: none;
        width: calc(100% - 24px);
        padding-right: 0;
        padding-left: 24px;
        height: 22px;
        line-height: 22px;
        font-weight: bold;
        text-align: center;
        color: #333;
        background-color: transparent;
        box-sizing: border-box;
      }

      .units {
        display: block;
        float: right;
        width: 24px;
        height: 22px;
        line-height: 22px;
        text-align: center;
      }

      .tooltip-trigger {
        position: absolute;
        right: 8px;
        bottom: 10px;
      }
    }

    .measurement-input.measurement-input-ok {
      /*background-color: #c7eace;*/
    }

    .measurement-input.measurement-input-pending input {
      font-style: italic;
    }

    .measurement-input.too_small {
      border-color: $too_small;
    }

    .measurement-input.slim {
      border-color: $slim;
    }

    .measurement-input.regular {
      border-color: $regular;
    }

    .measurement-input.loose {
      border-color: $loose;
    }

    .measurement-input.too_big {
      border-color: $too_big;
    }

    .overlap-box {
      margin-top: 5px;
    }
  }

    .__react_component_tooltip.measurement-tooltip {

		background-color: $default_color;
		padding: 1px;
		opacity: 1;
		pointer-events: all;
		margin-left: 15px;

		ul {
		  background-color: $bg_color;
		  color: black;
		  padding: 5px 5px 5px 20px;
		  max-width: 170px;
		  list-style-type: disc;
		  border-radius: $border_radius $border_radius 0 0;
		}

		.measurement-guide-link {
		  padding: 4px 0 4px 8px;
		  color: black;
		  background-color: $light_bg_color;
		  border-radius: 0 0 3px 3px;

		  a {
			pointer-events: all;
			cursor: pointer;
			color: black;
			text-decoration: underline !important;
		  }
		}
    }
}

.measurement-guide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.measurement-guide-modal {
  position: absolute;
  top: 5%;
  right: auto;
  overflow: auto;
  max-height: 85%;
  /*transform: translate(-105%, 0);*/
  background-color: $bg_color;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  border: 1px solid black;
  border-radius: $border_radius;

  .measurement-instruction-box {
	line-height: 1em;
	padding: 18px 22px 18px 18px;
	color: $bg_color;
	font-size: 16px;
	border-radius: $border_radius;
	background-color: $default_color;
	width: 250px;
	box-sizing: border-box;
	position: relative;
	text-align: left;

	h2 {
	  color: $bg_color;
	  line-height: 1em;
	  margin-bottom: 10px;
	}

	.instruction-content {
	  font-size: smaller;
	}

	.gender-male .female {
	  display: none;
	}

	.gender-female .male {
	  display: none;
	}

	.fa {
	  position: absolute;
	  right: 6px;
	  top: 5px;
	  font-size: larger;
	  cursor: pointer;
	}

	&::after {
	  content: "";
	  border-top: 20px solid $default_color;
	  position: absolute;
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	  bottom: -20px;
	  right: 25%;
	}
  }

  .rh5v-Overlay_component {
	display: none;
  }
}
