@import "../scss/variables";

.sizeme-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  align-items: flex-end;
  background: url(../images/slider_bg_black_grid.svg) no-repeat bottom center;
  background-size: 100% 100%;
  font-size: 90%;
  margin: 5px 0 20px 0;
  position: relative;
  top: 5px;

  .slider-placeholder {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fit-area {
    text-align: center;
    flex: 1;
    white-space: nowrap;
    height: 26px;
  }

  svg.recommendation, svg.indicator {
    position: absolute;
    height: 18px;
    width: 18px;
    bottom: -4px;
    transition: left 0.5s ease-in-out;
    cursor: help;
  }

  svg.indicator {
    polygon {
      fill: #ff0000;
      fill-opacity: 1;
      stroke-width: 0.2px;
      stroke: rgba(0,0,0,0.5);
    }

    polygon.too_small {
      fill: $too_small;
    }

    polygon.slim {
      fill: $slim;
    }

    polygon.regular {
      fill: $regular;
    }

    polygon.loose {
      fill: $loose;
    }

    polygon.too_big {
      fill: $too_big;
    }
  }

  .indicator-tooltip {
    @include default_tooltip();
    max-width: 150px !important;
  }

  svg.recommendation {
	bottom: 0;
    width: 36px;
    path {
      fill: $recommendation_color;
      fill-opacity: 0.75;
    }
  }
  
  span.size-recommendation strong {
    text-transform: uppercase;
  }
}

.no-fit .sizeme-slider, .no-size .sizeme-slider {
  .slider-placeholder {
    opacity: 1;
    transition-delay:0s;
  }
  .fit-area {
    visibility: hidden;
	transition-delay:0.2s;
  }
}

.match .sizeme-slider {
  &.new-size {
    .slider-placeholder {
      opacity: 1;
    }

    .fit-area {
      opacity: 0;
    }
  }

  .slider-placeholder {
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  .fit-area {
    opacity: 1;
    transition: opacity 0.3s linear;
  }
}